.loading-shading {
    position: absolute;
    top: 150px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .3);
  }
  
  .loading-icon {
    position: absolute;
    font-size: 20px;
    margin-top: 100px;
    /*top: calc(35% - 10px);*/
    /*left: calc(55% - 10px);*/
    left: 25%;
    
    animation: spin .7s infinite linear;
    -animation: spin .7s infinite linear;
    -webkit-animation: spin .7s infinite linear;
  }
  
  @-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
  }